%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
%% This is a sample rebar.conf file that shows examples of some of rebar's
%% options.

%% == Core ==

%% Check required ERTS or OTP release version
{require_erts_vsn, ".*"}.
{require_otp_vsn, ".*"}.

%% Additional library directories to add to the code path
%% {lib_dirs, ["deps"]}.

%% Which files to cleanup
{clean_files, ["erl_crash.dump", "ebin", "log", "Mnesia*"]}.

%% == OTP Applications ==

%% Enable validation of the OTP app module list. Default is 'true'
%% {erl_first_files, ["deps/lager/src/lager_util.erl",
%%                    "deps/lager/src/lager_transform.erl"]}.

{deps, [
  {mochiweb, {git, "https://github.com/inhandnet/mochiweb.git", {branch, "master"}}},
  {dn, {git, "https://github.com/inhandnet/erlang-common", {branch, "master"}}}
]}.

{erl_opts, [
  {parse_transform, pmod_pt},
  {parse_transform, lager_transform}
]}.
